<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arabic Language</title>
  <link  rel="stylesheet" href="/css/fontawesome-free-5.9.0-web/css/all.css" />  
  <link rel="stylesheet" href="/css/arab.css">  
   
</head>
<body>
  <div class="contain">
    <div class="body-wrapper"></div>
    {{> header}}  
      <div class="card-container">
      {{#if message}}
      <div class="modal">
          <h3>{{message}}</h3>
      </div>
      {{else}}
        <div class="card-title"><h3>Reset password:</h3></div>    
        <form method="POST" action="/auth/reset-pass" class="signup-form">        
          <div class="signup-form-wrapper">  
              <div class="input-field">
                <label for="password">Enter a new password</label><br/>
                <input type="text" placeholder="Enter a password" class="form-control" id="pass" name="password" autofocus />
              </div>
              <div class="input-field">
                <label for="copy-password">Repeat a new password</label><br/>
                <input type="text" placeholder="Repeat a password" class="form-control" id="copy-pass" name="copypassword" /><p class="danger" id="confirm-pass"></p>
              </div>
          </div>
          <button class="btn btn-reset" type="submit" style="margin-top:-1rem">Reset password</button>
        </form>
      {{/if}}
    </div>
  </div>
  {{> footer}}  
 <script src="/js/sidebar.js"></script>
 <script src="/js/arab.js"></script>
</body>
</html>
